<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .greet{
            color:black;
            text-align: center;
            font-size: 40px;
            font-family: cursive
        }
        .boxes{
            height: 200px;
            width: 200px;
            margin: 10px;
            border: black 3px solid;
            display: inline-block;
        }

    </style>
</head>
<body>
    <h1 class= "greet">{{greet}}</h1>
    <div>
        {% for x in range (0,times): %}
        <div class="boxes" style="background-color: {{color}};">
            {{box}}
        </div>
        {% endfor %}
    </div>
    
</body>
</html>
